@model LibraryWebApplication.AccountViewModels.EditAccountViewModel

<h2>Edit User</h2>

<form asp-action="Edit" asp-controller="Account" method="post">
    <input asp-for="Id" type="hidden" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAdmin"></label>
        <input asp-for="IsAdmin" type="checkbox" value="true" />
        <span asp-validation-for="IsAdmin" class="text-danger"></span>
    </div>

    <button type="submit" class="custom-btn btn">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
