@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An error occurred.</h1>

<p class="text-danger">@ViewBag.ErrorMessage</p>

<a asp-action="Index" class="btn btn-default">Back to List</a>