@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://localhost:7033/Reader">Readers</a><br/>
    <a href="https://localhost:7033/City">Cities</a><br/>
    <a href="https://localhost:7033/Genre">Genres</a><br/>
    <a href="https://localhost:7033/Author">Authors</a><br/>
    <a href="https://localhost:7033/Position">Positions</a><br/>
    <a href="https://localhost:7033/Publisher">Publishers</a><br/>
    <a href="https://localhost:7033/Employee">Employees</a><br/>
    <a href="https://localhost:7033/Book">Books</a><br/>
    <a href="https://localhost:7033/BorrowedBook">Borrows</a><br/>
</div>
